@media (min-width: 0px) and (max-width: 760px) {
    
    header{
        display: none;
        
    }
    
    #seccion2{
        display: none;
    }
    
    #contenedorVideo{
        background-color: white;
    }
    
    #formulario{
        background-color: gray;
        padding-bottom: 4%;
        
    }
    
    footer{
        margin-top: 0%;
        font-size: 50%;
    }
    
    .navMobile{
        display: flex;
        background-color: grey;
        height: 6%;
        justify-content: flex-end;
        padding-right: 10px;
    }
    
    .material-icons.md-48 { 
        font-size: 48px; 
        color: aliceblue;
    }
}