@media (min-width: 0px) and (max-width: 760px) {
    
    header{
        display: none;
        
    }
    
    #seccion2{
        display: none;
    }
    
    #contenedorVideo{
        background-color: white;
    }
    
    #formulario{
        background-color: #ffbf00;
        padding-bottom: 4%;
        
    }
    
    footer{
        margin-top: 0%;
        font-size: 50%;
    }
    
    .navMobile{
        display: flex;
        background-color: #ffbf00;
        height: 6%;
        justify-content: flex-end;
        padding-right: 10px;
    }
    
    .material-icons.md-48 { 
        font-size: 48px; 
        color: aliceblue;
        
    }
    
    .menuMobile{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #ffbf00;
        
        
        
    }
    
    .menuMobile > div{
         margin: 1%;
    }
    
   
    .menuMobile > div >a{
        text-decoration: none;
        font-family: helvetica;
        font-weight: 600;
        color: black;
       
    }
}